@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);


#dropdown-menu-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-10 .nav .link,
#dropdown-menu-10 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-10 .navbar,
#dropdown-menu-10 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-10 .dropdown-menu a:hover,
#dropdown-menu-10 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-10 .navbar-toggler {
  color: #000000;
}
#header1-1 H1 {
  font-size: 100px;
  color: #061b2c;
}
#header1-1 P {
  color: #3c0402;
}
#header1-1 I {
  font-size: 30px;
  color: #3c0402;
}
#header1-1 B {
  color: #354911;
  font-family: 'Playfair Display', sans-serif;
}

#dropdown-menu-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-10 .nav .link,
#dropdown-menu-10 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-10 .navbar,
#dropdown-menu-10 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-10 .dropdown-menu a:hover,
#dropdown-menu-10 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-10 .navbar-toggler {
  color: #000000;
}
#slider-4 H2 {
  color: #000000;
  font-size: 84px;
}
#slider-4 P {
  color: #000000;
  font-size: 25px;
}

#dropdown-menu-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-10 .nav .link,
#dropdown-menu-10 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-10 .navbar,
#dropdown-menu-10 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-10 .dropdown-menu a:hover,
#dropdown-menu-10 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-10 .navbar-toggler {
  color: #000000;
}
#header4-8 P {
  color: #000000;
  text-align: right;
}
#header4-8 H1 {
  color: #d9534f;
}
#header4-15 H1 {
  text-align: left;
  font-size: 36px;
  color: #f1c050;
}

#dropdown-menu-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-10 .nav .link,
#dropdown-menu-10 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-10 .navbar,
#dropdown-menu-10 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-10 .dropdown-menu a:hover,
#dropdown-menu-10 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-10 .navbar-toggler {
  color: #000000;
}
#header4-d H1 {
  color: #edafae;
  font-size: 72px;
}
#header4-d P {
  color: #000000;
}

#dropdown-menu-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-10 .nav .link,
#dropdown-menu-10 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-10 .navbar,
#dropdown-menu-10 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-10 .dropdown-menu a:hover,
#dropdown-menu-10 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-10 .navbar-toggler {
  color: #000000;
}
#header4-i H1 {
  text-align: left;
  color: #fbf2be;
  font-size: 100px;
}
#header4-i P {
  color: #54a6ed;
  font-size: 25px;
  text-align: left;
}
#msg-box4-l .mbr-section-title {
  color: #5cb85c;
}
#msg-box4-1h .mbr-section-title {
  color: #d9534f;
  font-size: 46px;
}

#dropdown-menu-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-10 .nav .link,
#dropdown-menu-10 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-10 .navbar,
#dropdown-menu-10 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-10 .dropdown-menu a:hover,
#dropdown-menu-10 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-10 .navbar-toggler {
  color: #000000;
}
#header4-o H1 {
  color: #660202;
  font-size: 100px;
}
#header4-o P {
  color: #000000;
  text-align: left;
}
#header2-p P {
  font-size: 25px;
}
#header2-s P {
  font-size: 25px;
  text-align: right;
  color: #ffffff;
}
#header2-t P {
  font-size: 25px;
}
#menu-u .navbar-toggler {
  color: #f2f2f2;
}
#menu-u .nav-link {
  font-size: 16px;
}

#dropdown-menu-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-10 .nav .link,
#dropdown-menu-10 .dropdown-item {
  font-size: 1em;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-10 .navbar,
#dropdown-menu-10 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-10 .dropdown-menu a:hover,
#dropdown-menu-10 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-10 .navbar-toggler {
  color: #000000;
}
#header4-13 H1 {
  font-size: 60px;
}
